@charset "utf-8";

body{
	text-align:center;
	color:white;
	background-color:black;
}
input{
	width: 50px;
}
.allInfo, .StatsTable{
	margin-left: auto;
	margin-right: auto;
}
.Info{
	width:5%;
}.traitTable{
	padding:10px 16px;
	font-size:16px;
	border:none;
	cursor:pointer;	
}#BigTable{
	margin-left: auto;
	margin-right: auto;
}#splitter{
	width: 100%;
}.traits{
	padding: 10px 5px 10px 5px;
	font-size: 16px;
}#NameTable{
	padding: 10px 5px 10px 5px;
	font-size: 16px;
}
#level{
	width:35%;
}#race{
	width:100%;
}
.mod{
	width:20%;
	pointer-events: none;
	 
}
.Stat{
	width:20%;
}
.OG{
	width: 20%;
}
.skillMod, .rankNum{
	pointer-events: none;
}.text{
	background-color: black;
	color: white;
	border-color: black;
	pointer-events: none;
}a:link{
	color: white;
}a:visited{
	color: white;
}table, th, td, tr{
	border: 1px groove white;
	text-align: center;
}.Table{
	padding-left: 25px;
	padding-right: 25px;
}.hidden{
	visibility: hidden;
}.tableSkillMods{
	width: 1px;
}.hover{
	background-color: brown;
	color: white;
}
input::-webkit-inner-spin-button{
	-webkit-appearance:none;
}
